Eploration of data using np, pd, sns, plt.

In [118]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [119]:
df1 = pd.read_csv("~/Code/Repos/Python/Datasets/2020_07/covid_19_data.csv", index_col=0)

In [120]:
df1.head(10)
df1.tail(10)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
58292,07/06/2020,Yaroslavl Oblast,Russia,2020-07-07 04:34:00,5031.0,19.0,3763.0
58293,07/06/2020,Yucatan,Mexico,2020-07-07 04:34:00,5229.0,501.0,3611.0
58294,07/06/2020,Yukon,Canada,2020-07-07 04:34:00,11.0,0.0,11.0
58295,07/06/2020,Yunnan,Mainland China,2020-07-07 04:34:00,186.0,2.0,183.0
58296,07/06/2020,Zabaykalsky Krai,Russia,2020-07-07 04:34:00,3399.0,44.0,2329.0
58297,07/06/2020,Zacatecas,Mexico,2020-07-07 04:34:00,1140.0,112.0,764.0
58298,07/06/2020,Zakarpattia Oblast,Ukraine,2020-07-07 04:34:00,3375.0,111.0,1001.0
58299,07/06/2020,Zaporizhia Oblast,Ukraine,2020-07-07 04:34:00,597.0,17.0,444.0
58300,07/06/2020,Zhejiang,Mainland China,2020-07-07 04:34:00,1269.0,1.0,1267.0
58301,07/06/2020,Zhytomyr Oblast,Ukraine,2020-07-07 04:34:00,1468.0,30.0,950.0

In [121]:
df1.count()

ObservationDate    58301
Province/State     36230
Country/Region     58301
Last Update        58301
Confirmed          58301
Deaths             58301
Recovered          58301
dtype: int64

In [122]:
df1.iloc[:,[0,1]].head(5)

    ObservationDate Province/State
SNo
1        01/22/2020          Anhui
2        01/22/2020        Beijing
3        01/22/2020      Chongqing
4        01/22/2020         Fujian
5        01/22/2020          Gansu

In [123]:
np.array([3] * 4)

array([3, 3, 3, 3])

In [124]:
df1.dtypes

ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

In [125]:
df1.describe()

           Confirmed        Deaths      Recovered
count   58301.000000  58301.000000   58301.000000
mean     9130.529922    525.366820    3912.849214
std     28976.630502   2460.491322   22018.573738
min         0.000000      0.000000       0.000000
25%        82.000000      1.000000       0.000000
50%       800.000000     12.000000      92.000000
75%      4457.000000    140.000000    1105.000000
max    405843.000000  41128.000000  924148.000000

In [126]:
series_time = df1.ObservationDate

In [127]:
series_time.head()

SNo
1    01/22/2020
2    01/22/2020
3    01/22/2020
4    01/22/2020
5    01/22/2020
Name: ObservationDate, dtype: object

In [128]:
type(series_time)

pandas.core.series.Series

In [129]:
df1_time = pd.DataFrame(series_time)

In [130]:
df1_time.head()

    ObservationDate
SNo
1        01/22/2020
2        01/22/2020
3        01/22/2020
4        01/22/2020
5        01/22/2020

In [131]:
type(df1_time)

pandas.core.frame.DataFrame

In [132]:
df1_time['ObservationDate'] = pd.to_datetime(df1_time.ObservationDate, format='%m/%d/%Y')

In [133]:
type(df1_time)

pandas.core.frame.DataFrame

In [134]:
df1_time.dtypes

ObservationDate    datetime64[ns]
dtype: object

In [135]:
df1_time1 = 2**42
100.0/df1_time1

2.2737367544323206e-11

In [136]:
df1['ObservationDate'] = pd.to_datetime(df1.ObservationDate, format='%m/%d/%Y')

In [137]:
df1.dtypes

ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update                object
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [138]:
df1.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [144]:
type(df1.loc[:,'Last Update'])
#df1.loc[:,'Last Update'].head()

pandas.core.series.Series

In [159]:
add_default_seconds = lambda s: s + ":00"
test = df1.loc[:,'Last Update'].apply(add_default_seconds)
test.head()
## This idea is useless because sometimes the 'seconds' part is defined in the data.

SNo
1    1/22/2020 17:00:00
2    1/22/2020 17:00:00
3    1/22/2020 17:00:00
4    1/22/2020 17:00:00
5    1/22/2020 17:00:00
Name: Last Update, dtype: object

In [163]:
test = df1['Last Update'].apply(len).unique()
test

array([15, 13, 14, 19, 11])

## There are different formats of 'Last Update' dttm in data.
## Therefore this column is difficult to parse to get exact dttm value.
## Skipping the operation to get full info. from this col. as it has low impact on analysis.

In [195]:
get_date_value = lambda s: s[:10]
test = df1['Last Update'].apply(get_date_value)
test.head()
## This method prove unreliable because the dates format is heterogeneous

SNo
1    1/22/2020
2    1/22/2020
3    1/22/2020
4    1/22/2020
5    1/22/2020
Name: Last Update, dtype: object

In [196]:
df1['Last Update Parsed'] = pd.to_datetime(df1.loc[:,'Last Update'])

In [201]:
df1.tail(200)

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Last Update Parsed
SNo,,,,,,,,
58102,2020-07-06,Okinawa,Japan,2020-07-07 04:34:00,145.0,7.0,138.0,2020-07-07 04:34:00
58103,2020-07-06,Oklahoma,US,2020-07-07 04:34:00,16362.0,399.0,0.0,2020-07-07 04:34:00
58104,2020-07-06,Omsk Oblast,Russia,2020-07-07 04:34:00,4120.0,35.0,2209.0,2020-07-07 04:34:00
58105,2020-07-06,Ontario,Canada,2020-07-07 04:34:00,37829.0,2743.0,32997.0,2020-07-07 04:34:00
58106,2020-07-06,Orebro,Sweden,2020-07-07 04:34:00,2421.0,164.0,0.0,2020-07-07 04:34:00
...,...,...,...,...,...,...,...,...
58297,2020-07-06,Zacatecas,Mexico,2020-07-07 04:34:00,1140.0,112.0,764.0,2020-07-07 04:34:00
58298,2020-07-06,Zakarpattia Oblast,Ukraine,2020-07-07 04:34:00,3375.0,111.0,1001.0,2020-07-07 04:34:00
58299,2020-07-06,Zaporizhia Oblast,Ukraine,2020-07-07 04:34:00,597.0,17.0,444.0,2020-07-07 04:34:00
58300,2020-07-06,Zhejiang,Mainland China,2020-07-07 04:34:00,1269.0,1.0,1267.0,2020-07-07 04:34:00
58301,2020-07-06,Zhytomyr Oblast,Ukraine,2020-07-07 04:34:00,1468.0,30.0,950.0,2020-07-07 04:34:00

In [212]:
df1[df1['Country/Region']=="Mainland China"]['Deaths'].sum()

574276.0

In [218]:
df1['Deaths'].sum()

30629411.0

In [219]:
df1[df1['Country/Region']=="Mainland China"][['Deaths','Confirmed']].sum()

Deaths         574276.0
Confirmed    12215418.0
dtype: float64

In [225]:
list(df1.columns)

['ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Last Update Parsed']

In [233]:
test = pd.isna(df1)
test.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Last Update Parsed
SNo,,,,,,,,
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False

In [237]:
df = df1.copy()

In [252]:
df1.dropna(how='any')

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Last Update Parsed
SNo,,,,,,,,
1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,2020-01-22 17:00:00
2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0,2020-01-22 17:00:00
3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0,2020-01-22 17:00:00
4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0,2020-01-22 17:00:00
5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0,2020-01-22 17:00:00
...,...,...,...,...,...,...,...,...
58297,2020-07-06,Zacatecas,Mexico,2020-07-07 04:34:00,1140.0,112.0,764.0,2020-07-07 04:34:00
58298,2020-07-06,Zakarpattia Oblast,Ukraine,2020-07-07 04:34:00,3375.0,111.0,1001.0,2020-07-07 04:34:00
58299,2020-07-06,Zaporizhia Oblast,Ukraine,2020-07-07 04:34:00,597.0,17.0,444.0,2020-07-07 04:34:00
58300,2020-07-06,Zhejiang,Mainland China,2020-07-07 04:34:00,1269.0,1.0,1267.0,2020-07-07 04:34:00
58301,2020-07-06,Zhytomyr Oblast,Ukraine,2020-07-07 04:34:00,1468.0,30.0,950.0,2020-07-07 04:34:00

In [274]:
df1[['Confirmed','Deaths','Recovered']].apply(np.cumsum)

         Confirmed      Deaths    Recovered
SNo
1              1.0         0.0          0.0
2             15.0         0.0          0.0
3             21.0         0.0          0.0
4             22.0         0.0          0.0
5             22.0         0.0          0.0
...            ...         ...          ...
58297  532312316.0  30629252.0  228119360.0
58298  532315691.0  30629363.0  228120361.0
58299  532316288.0  30629380.0  228120805.0
58300  532317557.0  30629381.0  228122072.0
58301  532319025.0  30629411.0  228123022.0

[58301 rows x 3 columns]

In [276]:
df1['Country/Region'].value_counts()

US                 7774
Mainland China     5175
Russia             3110
Japan              2047
Canada             1764
                   ...
North Ireland         1
Channel Islands       1
('St. Martin',)       1
Cape Verde            1
 Azerbaijan           1
Name: Country/Region, Length: 223, dtype: int64

In [277]:
df1[['Country/Region','Confirmed','Deaths']].groupby('Country/Region').sum()

                                Confirmed   Deaths
Country/Region
 Azerbaijan                           1.0      0.0
('St. Martin',)                       2.0      0.0
Afghanistan                     1199996.0  25778.0
Albania                          114287.0   3450.0
Algeria                          715382.0  55664.0
...                                   ...      ...
Western Sahara                      691.0     42.0
Yemen                             34858.0   8722.0
Zambia                            70400.0    802.0
Zimbabwe                          18633.0    407.0
occupied Palestinian territory       25.0      0.0

[223 rows x 2 columns]

In [311]:
test = df1[['Country/Region','Confirmed','Deaths']].groupby('Country/Region').sum()
test['Yemen':'Yemen'] 
## Is there any better way to do this to get data for only selected countries?

                Confirmed  Deaths
Country/Region
Yemen             34858.0  8722.0

In [312]:
test.loc['Yemen']

Confirmed    34858.0
Deaths        8722.0
Name: Yemen, dtype: float64

In [304]:
df1.iloc[df1['Confirmed'].argmax(),:]

ObservationDate       2020-05-31 00:00:00
Province/State                        NaN
Country/Region                     Russia
Last Update           2020-06-01 02:32:46
Confirmed                          405843
Deaths                               4693
Recovered                          171883
Last Update Parsed    2020-06-01 02:32:46
Name: 32121, dtype: object

In [310]:
df1.drop('Last Update',axis=1,inplace=True)
df1.columns

Index(['ObservationDate', 'Province/State', 'Country/Region', 'Confirmed',
       'Deaths', 'Recovered', 'Last Update Parsed'],
      dtype='object')

In [315]:
df1[(df1['Deaths']>1000) & (df1['Country/Region']=='Mainland China')]
#So Deaths and other metrics are already cummulative figures and not daily values

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered,Last Update Parsed
SNo,,,,,,,
1196,2020-02-11,Hubei,Mainland China,33366.0,1068.0,2639.0,2020-02-11 23:33:02
1269,2020-02-12,Hubei,Mainland China,33366.0,1068.0,2686.0,2020-02-12 14:13:08
1342,2020-02-13,Hubei,Mainland China,48206.0,1310.0,3459.0,2020-02-13 14:13:06
1416,2020-02-14,Hubei,Mainland China,54406.0,1457.0,4774.0,2020-02-14 23:33:02
1491,2020-02-15,Hubei,Mainland China,56249.0,1596.0,5623.0,2020-02-15 23:13:05
...,...,...,...,...,...,...,...
55011,2020-07-02,Hubei,Mainland China,68135.0,4512.0,63623.0,2020-07-03 04:33:54
55740,2020-07-03,Hubei,Mainland China,68135.0,4512.0,63623.0,2020-07-04 04:33:51
56469,2020-07-04,Hubei,Mainland China,68135.0,4512.0,63623.0,2020-07-05 04:33:46
57198,2020-07-05,Hubei,Mainland China,68135.0,4512.0,63623.0,2020-07-06 04:33:57
57927,2020-07-06,Hubei,Mainland China,68135.0,4512.0,63623.0,2020-07-07 04:34:00

In [320]:
df1[df1['Country/Region']=='Sweden']['Province/State'].unique()
#List of distinct provinces in country

array([nan, 'Blekinge', 'Dalarna', 'Gavleborg', 'Gotland', 'Halland',
       'Jamtland Harjedalen', 'Jonkoping', 'Kalmar', 'Kronoberg',
       'Norrbotten', 'Orebro', 'Ostergotland', 'Skane', 'Sormland',
       'Stockholm', 'Uppsala', 'Varmland', 'Vasterbotten',
       'Vasternorrland', 'Vastmanland', 'Vastra Gotaland'], dtype=object)

In [330]:
test = np.array(['abc','def','asd'])
'United' in test
## Why does this not work? Idea is to iterate over each element of array and find substring in each element.

False

In [331]:
df1.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            58292, 58293, 58294, 58295, 58296, 58297, 58298, 58299, 58300,
            58301],
           dtype='int64', name='SNo', length=58301)

In [347]:
df1.sort_values(by=['Recovered','Confirmed'], ascending=[True,False]).head()

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered,Last Update Parsed
SNo,,,,,,,
58074,2020-07-06,New York,US,397649.0,32219.0,0.0,2020-07-07 04:34:00
57345,2020-07-05,New York,US,397131.0,32206.0,0.0,2020-07-06 04:33:57
56616,2020-07-04,New York,US,396598.0,32157.0,0.0,2020-07-05 04:33:46
55887,2020-07-03,New York,US,395872.0,32137.0,0.0,2020-07-04 04:33:51
55158,2020-07-02,New York,US,394954.0,32064.0,0.0,2020-07-03 04:33:54

In [354]:
df1[['Country/Region','Deaths']].groupby('Country/Region').max().sort_values(by='Deaths',ascending=False).head(10)
#Can this operation be done on two columns: Deaths and Confirmed?

                 Deaths
Country/Region
UK              41128.0
US              32219.0
Italy           31106.0
France          29836.0
Spain           27104.0
Brazil          17983.0
Iran            11731.0
Belgium          9774.0
India            9026.0
Germany          7861.0

In [355]:
df1.pivot_table(values = ['Deaths','Confirmed'], index=['Country/Region','Province/State'], columns='ObservationDate')

                                             Confirmed                        \
ObservationDate                             2020-01-22 2020-01-23 2020-01-24
Country/Region Province/State
Australia      Australian Capital Territory        NaN        NaN        NaN
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                    NaN        NaN        NaN
               Volyn Oblast                        NaN        NaN        NaN
               Zakarpattia Oblast                  NaN        NaN        NaN
               Zaporizhia Oblast                   NaN        NaN        NaN
               Zhytomyr Oblast                     NaN        NaN        NaN

                                                                              \
ObservationDate                             2020-01-25 2020-01-26 2020-01-27
Country/Region Province/State
Australia      Australian Capital Territory        NaN        NaN        NaN
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                    NaN        NaN        NaN
               Volyn Oblast                        NaN        NaN        NaN
               Zakarpattia Oblast                  NaN        NaN        NaN
               Zaporizhia Oblast                   NaN        NaN        NaN
               Zhytomyr Oblast                     NaN        NaN        NaN

                                                                              \
ObservationDate                             2020-01-28 2020-01-29 2020-01-30
Country/Region Province/State
Australia      Australian Capital Territory        NaN        NaN        NaN
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                    NaN        NaN        NaN
               Volyn Oblast                        NaN        NaN        NaN
               Zakarpattia Oblast                  NaN        NaN        NaN
               Zaporizhia Oblast                   NaN        NaN        NaN
               Zhytomyr Oblast                     NaN        NaN        NaN

                                                        ...     Deaths  \
ObservationDate                             2020-01-31  ... 2020-06-27
Country/Region Province/State                           ...
Australia      Australian Capital Territory        NaN  ...        3.0
               Diamond Princess cruise ship        NaN  ...        NaN
               External territories                NaN  ...        NaN
               From Diamond Princess               NaN  ...        NaN
               Jervis Bay Territory                NaN  ...        NaN
...                                                ...  ...        ...
Ukraine        Vinnytsia Oblast                    NaN  ...       28.0
               Volyn Oblast                        NaN  ...       60.0
               Zakarpattia Oblast                  NaN  ...       82.0
               Zaporizhia Oblast                   NaN  ...       17.0
               Zhytomyr Oblast                     NaN  ...       27.0

                                                                              \
ObservationDate                             2020-06-28 2020-06-29 2020-06-30
Country/Region Province/State
Australia      Australian Capital Territory        3.0        3.0        3.0
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                   28.0       28.0       28.0
               Volyn Oblast                       60.0       60.0       60.0
               Zakarpattia Oblast                 84.0       87.0       91.0
               Zaporizhia Oblast                  17.0       17.0       17.0
               Zhytomyr Oblast                    29.0       29.0       29.0

                                                                              \
ObservationDate                             2020-07-01 2020-07-02 2020-07-03
Country/Region Province/State
Australia      Australian Capital Territory        3.0        3.0        3.0
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                   29.0       30.0       30.0
               Volyn Oblast                       62.0       62.0       63.0
               Zakarpattia Oblast                 95.0       97.0      102.0
               Zaporizhia Oblast                  17.0       17.0       17.0
               Zhytomyr Oblast                    29.0       30.0       30.0


ObservationDate                             2020-07-04 2020-07-05 2020-07-06
Country/Region Province/State
Australia      Australian Capital Territory        3.0        3.0        3.0
               Diamond Princess cruise ship        NaN        NaN        NaN
               External territories                NaN        NaN        NaN
               From Diamond Princess               NaN        NaN        NaN
               Jervis Bay Territory                NaN        NaN        NaN
...                                                ...        ...        ...
Ukraine        Vinnytsia Oblast                   30.0       30.0       30.0
               Volyn Oblast                       67.0       68.0       69.0
               Zakarpattia Oblast                102.0      108.0      111.0
               Zaporizhia Oblast                  17.0       17.0       17.0
               Zhytomyr Oblast                    30.0       30.0       30.0

[728 rows x 334 columns]

In [356]:
online_df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [366]:
type(online_df)

list

In [369]:
len(online_df)

1

In [370]:
online_df[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [371]:
type(online_df[0])

pandas.core.frame.DataFrame